.but{
    
    height: 100vh;
    width: 100%;
    background-color: mediumaquamarine;
  
}
.buts{
 padding: 5px;
    height: 20%;
    width: 20%;
    margin-top: 20%;
    margin-left: 20%;
    background-color: white;
    border: none;
    font-size: large;
    color: mediumaquamarine;
}