main{
    grid-column: 1/11;
}

aside{
    display: none;
}

pre{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 300%;
    color: #c44e80;
    flex: 1;
    margin-bottom:23.5%;
    text-align: center;
    
}

@media screen and (max-width: 768px){

       header > nav > a{
        font-size: 150%;
        flex-wrap: wrap;
        text-align: center;
        margin: 2%;
    }
 
    pre{
        font-size: 200%;
        margin-bottom:40%;
        margin-top: 25%;
        
    }
}