
main > div{ 
    display: flex;
    flex-wrap: wrap;
}

video{
    width: 28%;
    flex: 1;
    padding: 34px;
    
}

#links{
    margin-right: 41%;
    margin-top: 6%;
    margin-bottom: 5%;
}

#links>a{
    color: black;
    text-decoration-line: none;
    margin: 0.5%;
    padding: 0.5%;
    border: 1px solid #c44e80;
    font-size: 300%;
}


#links>a:hover{
    color: #c44e80;
}

@media screen and (max-width: 768px){
    video{
        width: 90%;
        flex: 1;
        padding: 34px;
        margin: auto;
    }
}