
main h2{
    text-align:center ;
    font-size: 200%;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
 }
 main div{
     overflow:auto;
     display: flex;
 }
 main{
     overflow:auto;
 }
 a>img{
     width:90%;
 }


 @keyframes mymove {
    50% {color: #c44e80;}
  }
main h2{
    color: black;
    font-style: bold;
    font-size: 300%;
    animation: mymove 5s infinite;
}

 @media screen and (max-width: 768px){
 
    main div{
        display: flex;
        flex-wrap: wrap;
    }
       .im1{  
        margin: 2%;
        width: 100%;
        text-align: center;
        }
        .im{
           margin: 2%;
           width: 100%;
           text-align: center;
        }
           .im2{
               width: 75%;
           }  
          main>div> pre{
               width: 80%;
               font-size: 150%;
              /* border-width: 40%; */
           }
    
 }


 div>pre{
     font-size: 150%;
     border-color:#c44e80;
     border-style: groove;
     border-width: 0.25%;
     white-space: pre-line;
     padding: 30px;
     margin: auto;
     margin-bottom: 3%;
    
 }

 main{
     grid-column: 1/11;
 }
 aside{
     display: none;
 }