.contain{
    display: grid;
    grid-template-columns: repeat(10,1fr);
    grid-template-rows: repeat(20,auto);  
}

header{
    grid-column: 1/11;
    grid-row: 1/2;
    display: flex; 
}

main{
    grid-column: 2/11;
    grid-row: 2/20;
}

aside{
    grid-column: 1/2;
    grid-row: 2/20;
    background-color: #f0dfe931; 
    padding:100% 10%;
    margin-left: 5%;
}

footer{
    grid-column: 1/11;
    grid-row:20/21;
    background-color:black; 
}

 header>nav{
    display: flex;
    flex: 1;
    background-color:black;
    height: 15vh;
    
}
header>nav a{
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    text-decoration-line: none;
    height: 50%;
    width: 75%;
    align-self: flex-end;
    color: white;
    font-size: 200%;
    text-align:center ;
}
#navA{
    color: #c44e80;
    border-bottom: 5px solid #c44e80;
}
header>nav a:hover{
    color: #c44e80;;
}
header img{
    border: 1px solid black;
    height: 100%;
}

footer>p{
    color:white;
    text-align: center;
    font-size: 150%;
}

aside>h4{
    font-size: 230%;
    text-align: center;
} 
aside>p{
    text-align: center;
    font-size: 130%;
    margin-top: 30%;
    border: 0.5px ridge #61062c;
    padding: 2%;
}
@keyframes mymove {
    50% {color: #a12157;}
  }
aside h4{
    color: black;
    font-style: bold;
    font-size: 300%;
    animation: mymove 3s infinite;

}


@media screen and (max-width: 768px){

    main{
        grid-column: 1/11;
    }
 
    header > nav > a{
        font-size: 150%;
        margin: 2%;
    }
    aside{
        display:none ;
    }
}